// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/send-view/send-view";
@import "../pages/comment-view/comment-view";
@import "../pages/questions/questions";

.button {
  background: #E91F1F;
  color: #FFFFFF;
}

.button:hover {
  background: #FE2E2E;
  color: #FFFFFF;
}