// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/send-view/send-view";
@import "../pages/comment-view/comment-view";
@import "../pages/questions/questions";
@import "../pages/choose-course/choose-course";


.button {
  background: #E91F1F;
  color: #FFFFFF;
}

.button:hover:not(.disable-hover) {
  background: #ee5555;
  color: #FFFFFF;
}

.navPassiv {
  background: #ee5555;
}

.navCenterLeft{
  margin-left: 50%;
}
.navCenterRight{
  margin-right: 50%;
}

.ion-md-arrow-back{
  margin-left:0;
  margin-right:auto;
}
.ion-md-arrow-forward{
  margin-left:auto;
  margin-right:0;
}

.swiper-slide{
  .button{
      width: 100%;
  }
}
