.course_overview{
  border-width: 2px;
  border-style: solid;
}

.course {
  font-size: 20px;
  height: 25px;
  width: 100%;
  text-align:left;
  vertical-align:middle;
  margin-bottom:10px;
}

.long {
  height: 50px
}
