.questions {
  overflow-y: auto;

}

.answer {
  font-size: 20px;
  border-width: 2px;

  border-style:solid;
  text-align:center;
  vertical-align:middle;
  margin-bottom:10px;

}

.disabled {
  background-color:rgb(255,255,255);
}

.enabled {
  background-color:rgb(100,100,255);
}

.normalAnswer {
  height: 50px;
  width: 70%;
}

.right {
  float: right;
  width: 27%;
}

