/*
 * Author (Media Query Settings): http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/*CSS-Regeln für alle Ausgabegeräte */
h1 {
  color: #369;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 300%;
  text-align: center;
}
body {
  margin: 2em;
}

ul {
    list-style-type: none;
    display: flex;
    margin: auto;;
    padding: auto;
    overflow-x: scroll;
    background-color: #99E3F5;
    height: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: "Gotham", Arial, Helvetica, sans-serif;
    font-size: auto;
    text-decoration: none;
}

.active {
    background-color: #CC0A2F;
    color: white;
    font-weight: bold;
}

li a:hover {
  background-color: #CC0A2F;
  color: white;
  font-weight: bold;
}

button {
    background-color: #CC0A2F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.startImage{
    width:100%;
    height:auto;
    max-width:50em;
}

.red-badge{
    background-color:red;
}

.badge-and-image{
    position: relative;
    display: inline-block;
    width: 100%;
}

.answer-image {
  width: inherit;
  margin-top: 20px;
  padding-top: 20px;
}

.badge-div{
    position:absolute;
    top:8px;
    right: 8px;
}

.answer-group {
  vertical-align: middle;
  align-content: stretch;
  align-items: stretch;
  align-self: stretch;
}

.send-btn {
  width: 100%;
  height: inherit;
}

.answer-0 {
  background-color: grey;
  float: right;
  overflow: hidden;
}
.answer-0-active {
  background-color: white;
  color: grey;
  border: 2px grey;
  float: right;
  overflow: hidden;
}

.answer-1 {
  background-color: darkgreen;
}
.answer-1-active {
  background-color: white;
  color: darkgreen;
  border: 2px darkgreen;
}

.answer-2 {
  background-color: forestgreen;
}

.answer-2-active {
  background-color: white;
  color: forestgreen;
  border: 2px forestgreen;
}

.answer-3 {
  background-color: indianred;
}
.answer-3-active {
  background-color: white;
  color: indianred;
  border: 2px indianred;
}

.answer-4 {
  background-color: crimson;
}
.answer-4-active {
  background-color: white;
  color: crimson;
  border: 2px crimson;
}

.answer-5 {
  background-color: darkred;
}
.answer-5-active {
  background-color: white;
  color: darkred;
  border: 2px darkred;
}

.text-btn {
  margin-top: 10px;
  padding-top: 10px;
}



/*Tablet (General) ---------- */
@media
  (max-device-width: 1280px) {
    .btn {
      font-size: 150%;
      width: 100%;
      text-align: center;
    }
    .answer {
      font-size: 150%;
      vertical-align: middle;
      padding: 0 auto;
    }

    .btn-group-vertical {
      width: 100%;
      text-align: center;
      vertical-align: middle;
    }

  }

/*Tablet (Portrait) -------- */
@media
  (max-device-width: 800px)
  and (orientation: portrait) {
    img {
      width: 700px;
      height: auto;
      margin: auto;
      padding: auto;
      float: left;
    }
    .startButton {
      size: 200%;
      font-size: 250%;
      margin: 0 auto;
      padding: 0 auto;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: auto;;
        padding: auto;
        overflow-x: scroll;
        background-color: #99E3F5;
        height: auto;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        font-family: "Gotham", Arial, Helvetica, sans-serif;
        font-size: 24px;
        text-decoration: none;
    }

    .active {
        background-color: #CC0A2F;
        color: white;
        font-weight: bold;
    }

    li a:hover {
      background-color: #CC0A2F;
      color: white;
      font-weight: bold;
    }

    button {
        background-color: #CC0A2F;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .questionText {
      font-size: 350%;
      text-align: center;
    }

    .answer-group {
      margin-top: 45%;
      display: -webkit-block; /* Safari */
      -webkit-align-items: center; /* Safari 7.0+ */
      display: block;
      align-items: center;
      vertical-align: middle;
    }

}

/* Tablet (Landscape) -------*/
@media
  (max-device-width: 1280px)
  and (orientation: landscape) {
    img {
      width: 900px;
      height: auto;
      margin: auto;
      padding: auto;
      float: inherit;
    }
    .startButton {
      font-size: 250%;
      margin: 0 auto;
      float: inherit;
      size: 200%;
      padding: 0 auto;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: auto;;
        padding: auto;
        overflow-x: scroll;
        background-color: #99E3F5;
        height: auto;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        font-family: "Gotham", Arial, Helvetica, sans-serif;
        font-size: 24px;
        text-decoration: none;
    }

    .active {
        background-color: #CC0A2F;
        color: white;
        font-weight: bold;
    }

    li a:hover {
      background-color: #CC0A2F;
      color: white;
      font-weight: bold;
    }

    button {
        background-color: #CC0A2F;
        /*border: none;*/
        color: white;
        /*padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 24px;*/
    }

    .disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .questionText {
      font-size: 300%;
      text-align: center;
      margin-right: 50%;
      margin-top: 5%;
      align-self: center;
    }

    .answer-button {
      font-size: 36px;
      display: inline-block;
      padding: 400px 100px;
    }

    .btn {
      align-self: stretch;
      align-items: stretch;
      align-content: stretch;
    }
}

/* Smartphones (General) ------------ */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  button {
    font-size: 100%;
  }
  .btn {
    font-size: 100%;
  }
  h1 {
    font-size: 200%;
  }
  .startButton {
    font-size: 200%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}


 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
