h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #333;
    height: 10vh;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: scroll;
}

.active {
    background-color: #4CAF50;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
